.plan-holder {
    background-color: rgba(0, 0, 255, 0.075);
    width: 35.5vw;
    max-height: 10vh;
    border-radius: 5px;
    border: solid blue 2px;
    margin-bottom: 5vh;
    margin-left: 9.7vw;
}

.boat {
    width: 5vw;
    height: 7vh;
    margin-bottom:11vh;
    padding-top: 15px;
    padding-left: 10px;
    float: left;
}

.plan-type {
    font-size: 1.9vh;
    padding-top: 10px;
    padding-left: .9vw;
    height: 2vh;
    float: left;
}

.change-btn-holder {
    margin-right: 15vw;
    margin-top: 5vh;
    /* float: left; */
}

.change-btn {
    margin-right: 8vw;
    background-color:  rgba(0, 0, 255, 0);
    border: none;
    color: blue;
}

.price {
    float: right;
    margin-bottom: 5vh;
    padding-right: 1vw;
}
