.plan-holder {
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.075);
    width: 35.5vw;
    max-height: 10vh;
    border-radius: 5px;
    border: solid blue 2px;
    margin-bottom: 5vh;
}

.boat {
    display: inline-block;
    width: 6vw;
    height: 8vh;
    padding-top: .5vh;
}

.plan-type {
    font-size: 1.9vh;
    height: 2vh;
    margin-bottom: 15vh;
    display: inline-block;
}

.change-btn {
    display: inline-block;
    padding-top: 5vh;
    background-color:  rgba(0, 0, 255, 0);
    border: none;
    color: blue;
}

.price {
    display: inline-block;
    margin-left: 5vw;
}
