.plan-holder {
    background-color: rgba(0, 0, 255, 0.075);
    width: 35.5vw;
    max-height: 10vh;
    border-radius: 5px;
    border: solid blue 2px;
    margin-bottom: 5vh;
    margin-left: 9.7vw;
}

.boat {
    width: 5vw;
    height: 7vh;
    margin-bottom:11vh;
    padding-top: 15px;
    padding-left: 15px;
    float: left;
}

.plan-type {
    overflow: hidden;
    font-size: 1.9vh;
    height: 2vh;
    float: left;
}

.change-btn {
    overflow: hidden;
    background-color:  rgba(0, 0, 255, 0);
    border: none;
    color: blue;
    margin-top: 70px;
    margin-right: 35px;
    float: left;
}
